* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

* body {
  font-family: 'Lato' !important;
}

html, body, #app {
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html .col-md-4, html .col-md-8 {
  padding-left:0;
  padding-right:0;
}

.full-height {
  min-height:100vh
}

.center-elem {
  text-align:center;
  height:100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.font-up {
  text-transform: uppercase;
}

.font-i {
  font-style:italic;
}

.font-b {
  font-weight:bold;
}

.font-s-40 {
  font-size:40px;
}

.font-s-24 {
  font-size:24px;
}

.font-w-700 {
  font-weight:700;
}

.font-w-300 {
  font-weight:300; /* Manque le font-weight 300 pour le Lato */
}

.button-default {
  background-color:#888888;
  border:3px solid #888888;
  color:#fff;
  padding:8px 32px;
  text-align:center;
  width:fit-content;
  text-decoration:none;
  display:inline-block;
  transition:0.4s;
}

.button-default:hover {
  background-color:#fff;
  color:#888;
}

.c-col-10 {
  padding-left:0;
  padding-right:0;

  flex: 0 0 10%;
  max-width:10%;
}

.flex-w-33 {
  flex: 0 0 33.33%;
  max-width:33.33%;
}

.flex-w-66 {
  flex: 0 0 66.67%;
  max-width:66.67%;
}

.flex-row {
  display:flex;
  flex-direction:row;
}





.bg-accueil {
  background-image:url("../img/mims.png");
  height:100%;
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
}

.accueil-choix {
  margin-top:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.quiz-display {
  display:flex;
  flex-direction:row;
  height:100vh;
}

.quiz-progression {
  background-color:#444;
  color:#fff;
  font-size:16px;
  overflow-y:auto;
}

.current-question {
  background-color:#999;
}

.quiz-progression p {
  margin-bottom:0;
  padding:10px 0;
}

.quiz-question-box {
  padding:20px;
}

.quiz-question-text {
  font-size:24px;
}

.quiz-question-button {
  display:flex;
  flex: 0 0 44%;
  margin:5px;
  padding: 10px 5px;
  font-size:16px;
  background-color:#EFEFEF;
  border:3px solid #EFEFEF;
  color:#000;
  align-items:center;
  justify-content: center;
}

.quiz-question-answers {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.quiz-question-box .button-default {
  margin: 10px auto;
}

.score-panel {
  padding:30px 10%;
  /* ^mauvaise pratique, haiyaaa...^ */
  margin-bottom:0;
  margin-top:auto;
}

.score-panel p {
  margin-bottom:0;
}

.score-result {
  font-size:80px;
  font-weight:bold;
}

.score-text {
  font-size:32px;
  line-height:38px;
  margin-bottom:20px;
}

.score-panel .score-sub-text {
  margin-bottom:10px;
}

.score-panel .MuiFormControl-root {
  width:300px;
}

.score-name-input {
  display: flex;
  vertical-align: middle;
} 

.score-name-input button {
  margin-left:20px;
}

.score-name-input .MuiOutlinedInput-input {
  border: 1px solid #888;
}

.score-display-answers {
  margin-top:100px;
}

.score-display-answers a {
  text-decoration:underline;
  color:#000;
}